<html>
<head>
<link rel= "stylesheet" href= "{{ url_for('static',filename='styles/homestyle.css') }}">
<style>
table {
  font-family: arial, sans-serif;
  font-size: 16;
  border-collapse: collapse;
  width: 100%;
}
p{
  font-size: ;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
</body>
{%extends "navbar.html"%}
{%block content%}

<br>
<br>

<div style='direction: left-side'>
<table style="width:50%">
  <tr>
    <th>Stock ID</th>
	<th>Volume bought</th>
	<th>Automated?</th>
	<th>Toggle Automation</th>
	<th>Last Date Traded (d/m/y)</th>
  </tr>
    {% for stock in userStocks%}
	<tr>
		{%for values in stock%}
			{%if values == "True" or values == "False" %}
				<th>{{values}}
				<form action="" method="POST" autocomplete="off">
					<input type='hidden' name='hidden' value='SwapAuto'>
					<th><button type="submit" name="STOCKIDBUTTON" value={{stock[0]}}>Toggle Auto-trade</button></th>
				</form>
			{%else%}
				<th>{{values}}</th>
			{%endif%}
		{%endfor%}
		<th><a href="/search/{{stock[0]}}">{{stock[0]}} graphed</a></th>
	</tr>
	{%endfor%}
</table>
<b>
<p> You have ${{capital}} dollars remaining capital </p>
</b>
<div>
<script>
function openCity(evt, cityName) {
  // Declare all variables
    var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
    }

  // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

  // Show the current tab, and add an "active" class to the button that opened the tab
	document.getElementById(cityName).style.display = "block";
	evt.currentTarget.className += " active";	
	
document.getElementById("Options").click();
}
</script>

<div class="tab">
	<button class="tablinks" onclick="openCity(event, 'Bought Options')">Bought</button>
	<button class="tablinks" onclick="openCity(event, 'Sold Options')">Sold</button>
	<button class="tablinks" onclick="openCity(event, 'Pending')">Pending</button>
	
</div>
<div id="Bought Options" class="tabcontent">
	<h3>Bought Options</h3>
	<p>This is the data for all your bought options<p>
	<table style='width: 50%'>
		<tr>
			<th>Option Type</th>
			<th>StockID</th>
			<th>Strike Price</th>
			<th>Expiry Date</th>
			<th>Number of Options</th>
		</tr>
		{%for BOptions in BoptionsSet%}
			<tr>
			{%for value in BOptions[1:]%}
				<th>{{value}}</th>
			{%endfor%}
			<th>
			<form action="" method="POST" autocomplete=''off>
				<input type='hidden' name='hidden' value='exerciseOption'>
				<input type='hidden' name='hiddenstockID' value={{BOptions[0]}}>
				<input type='text' placeholder='Number of stocks to exercise' name='EBox' value={{request.form.EBox}}>
				<input type='submit' value='Exercise Option'>
			</form>
			</th>
			</tr>
		{%endfor%}
	</table>
</div>

<div id="Sold Options" class="tabcontent">
	<h3>Sold Options</h3>
	<p>This is the data for your sold options.</p>
	<table style='width: 50%'>
		<tr>
			<th>Option Type</th>
			<th>StockID</th>
			<th>Strike Price</th>
			<th>Expiry Date</th>
			<th>Number of Options</th>
		</tr>
		{%for SOptions in SoptionsSet%}
			<tr>
			{%for value in SOptions[1:]%}
				<th>{{value}}</th>
			{%endfor%}
			</tr>
		{%endfor%}
	</table>
</div>

<div id="Pending" class="tabcontent">
	<h3>Pending</h3>
	<p>Options that you are trying to sell</p>
	<table style='width: 50%'>
		<tr>
			<th>Option Type</th>
			<th>StockID</th>
			<th>Strike Price</th>
			<th>Expiry Date</th>
			<th>Number of Options</th>
		</tr>
		{%for SeOptions in SeOptionsSet%}
			<tr>
			{%for value in SeOptions[1:]%}
				<th>{{value}}</th>
			{%endfor%}
			</tr>
		{%endfor%}
	</table>
</div>

{%endblock%}
</body>
</html>